* {
    margin: 0px;
    padding: 0px;
}

.signin{ 
    margin-top:-10%
}  

.paperstyle{
    padding:2em;
    height:30em;
    width:30em;
    margin:10em auto;
}

#icon{
    background-color: rgb(40, 154, 207);
}

h1{
    margin-top: 1em;
}

#label{
   margin-top: 2em;
}
.button{
    margin-top: 2em;
}

#buttonstyle{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
}
